/* * * Mobile + General * * */
body{
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1.6;
}
a{
	color: #00ddd0;
	text-decoration: none;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
.img-fullwidth{
	width: 100%;
	display: block;
}
.bgr-stretch{
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
*:first-child{
	margin-top: 0;
}
*:last-child{
	margin-bottom: 0;
}
img{
	max-width: 100%;
}
.nav-plain > ul, .plain-nav > ul{
	font-size: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.nav-plain > ul > li, .plain-nav > ul > li{
	vertical-align: middle;
	display: inline-block;
}
.upper, .uppercase{
	text-transform: uppercase;
}
.nowrap{
	white-space: nowrap;
}
.bx-wrapper{
	position: relative;
}
.bxslider{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#total-wrap{
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* * Footer * */
.map, .contact, #map, #map2{
	height: 500px;
}
.map{
	padding: 0;
}
.v-center{
	display: flex;
	align-items: center;
}
.contact{
	color: #000;
	padding-bottom: 10px;
	background-color: #fff;
}
.contact-in{
	width: 100%;
	text-align: center;
}
h1{
	font-size: 3.5em;
	margin-bottom: 50px;
}
.footer h1{
	margin: 0 0 20px;
}
.btn-ghost{
	padding: 10px 30px;
	font-size: 1.3em;
	background-color: #00DDD0;
	letter-spacing: 1px;
	border-radius: 60px;
	color: #fff;
	text-decoration: none;
	transition: background-color .3s;
}
.footer .btn-ghost{
	color: #fff;
}
.btn-ghost:hover, .btn-ghost:active, .btn-ghost:focus{
	color: #fff;
	background-color: #a0dbd1;
}
.btn-ghost img{
	width: 100px;
}
.footer a{
	color: #000;
	text-decoration: none;
}
.footer-phone{
	font-size: 1.8em;
	margin-bottom: 10px;
}
.footer-email{
	font-size: 1.8em;
	margin-bottom: 25px;
}
.contact-address{
	font-size: 1.3em;
	display: inline-block;
}
.contact-address .fa{
	font-size: 1.2em;
}

/* * Circles * */
.circles{
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	-webkit-transition: top 0.1s;
	-o-transition: top 0.1s;
	transition: top 0.1s;
}
.circles .circle{
	border-radius: 50%;
	width: 1.4vw;
	height: 1.4vw;
	min-width: 20px;
	min-height: 20px;
	max-width: 27px;
	max-height: 27px;
	position: absolute;
}
.circles .circle.yellow.index1{
	top: -1%;
	left: 24%;
}
.circles .circle.yellow.index2{
	top: 90%;
	left: 25%;
}
.circles .circle.yellow.index3{
	top: 18%;
	left: 86%;
}
.circles .circle.orange.index1{
	top: 49%;
	left: 19%;
}
.circles .circle.orange.index2{
	top: 23%;
	left: 67%;
}
.circles .circle.orange.index3{
	top: 83%;
	left: 93%;
}
.circles .circle.blue.index1{
	top: 30%;
	left: 8%;
}
.circles .circle.blue.index2{
	top: 6%;
	left: 63%;
}
.circles .circle.blue.index3{
	top: 43%;
	left: 84%;
}
.circles .circle.green.index1{
	top: 67%;
	left: 2%;
}
.circles .circle.green.index2{
	top: 18%;
	left: 33%;
}
.circles .circle.green.index3{
	top: 59%;
	left: 73%;
}
.yellow{ background-color: #f5eeb7; }
.yellow-dark{ background-color: #dfdb71; }
.orange{ background-color: #fdd7a8; }
.orange-dark{ background-color: #f1b769; }
.blue{ background-color: #abd4f0; }
.blue-dark{ background-color: #4590af; }
.green{ background-color: #9ed8cc; }
.green-dark{ background-color: #418f8f; }

/* * Top stuff * */
.logo-link{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1000;
}
.logo{
	width: 40vw;
}
.logo img{
	height: 100%;
	margin: 0 auto;
}

/* * Header screen * */
#header-screen{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;

    min-height: 100vh;
    text-align: center;
    position: relative;
    padding: 15vw 0 80px;
}
#header-screen > div{
	width: 100%;
}
#header-screen h1{
	font-weight: 300;
	line-height: 1.1;
	margin: 0 0 15px;
	font-size: 16vw;
}
#header-screen h2{
	font-weight: 500;
	line-height: 1.1;
	margin: 0 0 15px;
	font-size: 8vw;
}
#header-screen p{
	font-size: 4vw;
}
.link-scroll-down{
	margin-left: -25px;
	width: 50px;
	height: 50px;
	position: absolute;
	left: 50%;
	bottom: 15px;
}
.lsd-unactive{
	display: block;
	position: relative;
	background-color: #333;
	padding: 4px;
	border-radius: 50%;
	transition: all .3s;
	height: 50px;
}
.lsd-active{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	padding: 4px;
	transition: all .3s;
	border-radius: 50%;
	opacity: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edecab+1,6dcee8+33,09babd+66,019989+100 */
	background: rgb(237,236,171); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(237,236,171,1) 1%, rgba(109,206,232,1) 33%, rgba(9,186,189,1) 66%, rgba(1,153,137,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(237,236,171,1) 1%,rgba(109,206,232,1) 33%,rgba(9,186,189,1) 66%,rgba(1,153,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(237,236,171,1) 1%,rgba(109,206,232,1) 33%,rgba(9,186,189,1) 66%,rgba(1,153,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edecab', endColorstr='#019989',GradientType=0 ); /* IE6-9 */
}
.lsd-unactive > span, .lsd-active > span{
	background-color: #fff;
	border-radius: 50%;
	width: 42px;
	height: 42px;
	display: block;
}
.lsd-unactive > span > span, .lsd-active > span > span{
	background-color: #333;
	margin-left: -2px;
	margin-top: -12px;
	width: 4px;
	height: 24px;
	position: absolute;
	left: 50%;
	top: 50%;
	transition: all .3s;
}
.lsd-unactive > span > span:before, .lsd-active > span > span:before,
.lsd-unactive > span > span:after, .lsd-active > span > span:after{
	content: '';
	background-color: #333;
    width: 4px;
    height: 16px;
    position: absolute;
    bottom: -3px;
	transition: all .3s;
}
.lsd-unactive > span > span:before, .lsd-active > span > span:before{
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 5px;
}
.lsd-unactive > span > span:after, .lsd-active > span > span:after{
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	right: 5px;
}
.lsd-unactive > span > span{
	background-color: #333;
}
.lsd-unactive > span > span:before, .lsd-unactive > span > span:after{
	background-color: #333;
}
.lsd-active > span > span:before, .lsd-active > span > span:after{
	background-color: #019989;
}
.lsd-active > span > span{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6dcee8+0,09babd+50,019989+100 */
	background: rgb(109,206,232); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,206,232,1) 0%, rgba(9,186,189,1) 50%, rgba(1,153,137,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(109,206,232,1) 0%,rgba(9,186,189,1) 50%,rgba(1,153,137,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(109,206,232,1) 0%,rgba(9,186,189,1) 50%,rgba(1,153,137,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6dcee8', endColorstr='#019989',GradientType=0 ); /* IE6-9 */
}

/* * Content * */
#content-wrap{
	padding: 50px 0;
}
.role-item{
    margin: 0 auto 50px;
	position: relative;
}
.role-item.active{
	z-index: 200;
}
.role-person-link{
	font-size: 28px;
	font-weight: 300;
	line-height: 34px;
	display: block;
	margin: 0 auto;
    width: 200px;
	text-align: center;
	color: #333;
    text-decoration: none;
}
.role-photo{
	margin-bottom: 15px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.5);
	box-shadow: 0 5px 5px rgba(0,0,0,.5);
}
.role-name{
	display: block;
}
a:hover .role-name, a:active .role-name, a:focus .role-name{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2d670+0,f0ba69+33,5b977f+66,528fc4+100 */
	background: -webkit-linear-gradient(left,  rgba(226,214,112,1) 0%,rgba(240,186,105,1) 33%,rgba(91,151,127,1) 66%,rgba(82,143,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.role-description{
	max-width: 445px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: 300;
	background-color: #fff;
	line-height: 1.2;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.role-description:before{
	content: '';
	background-color: #fff;
    position: absolute;
    top: 100px;
    width: 20px;
    height: 20px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
}
.role-description-in{
	background-color: #fff;
	padding: 18px 28px;
	position: relative;
	min-height: 150px;
}
.description-right .role-description{
	left: 250px;
}
.description-left .role-description{
	right: 250px;
}
.description-right .role-description:before{
	left: -10px;
}
.description-left .role-description:before{
	right: -10px;
}
.bottom-logo-link{
	margin: 0 -15px;
	display: block;
}
.btn-next-role, .bottom-link-iquest{
	background-color: #EFAC52;
	border-radius: 25px;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	color: white;
	display: inline-block;
	padding: 10px 15px;
	text-align: center;
	color: #fff !important;
	transition: all .3s;
}
.btn-next-role:hover, .btn-next-role:active, .btn-next-role:focus,
.bottom-link-iquest:hover, .bottom-link-iquest:active, .bottom-link-iquest:focus{
	background-color: #4590af;
}

/* * * Tablet * * */
@media (min-width: 768px) {
	/* * Top stuff * */
	.logo{
		width: auto;
		height: 80px;
	}

    /* * Header screen * */
    #header-screen{
    	padding-top: 80px;
    }
    #header-screen h1{
    	font-size: 80px;
	}
    #header-screen h2{
    	font-size: 40px;
	}
    #header-screen p{
    	font-size: 20px;
	}

    /* * Content * */
	#content-wrap{
		padding: 100px 0;
	}
}

/* * * Desktop narrow * * */
@media (min-width: 992px) {
    /* * Header screen * */
    #header-screen h1{
    	font-size: 100px;
    	margin-bottom: 25px;
	}
    #header-screen h2{
    	font-size: 50px;
    	margin-bottom: 30px;
	}
    #header-screen p{
    	font-size: 24px;
    	font-weight: 500;
	}
	.link-scroll-down:hover .lsd-unactive, .link-scroll-down:active .lsd-unactive, .link-scroll-down:focus .lsd-unactive{
		opacity: 0;
	}
	.link-scroll-down:hover .lsd-active, .link-scroll-down:active .lsd-active, .link-scroll-down:focus .lsd-active{
		opacity: 1;
	}

    /* * Content * */
	.r25{
		margin-left: 25%;
	}
	.r33{
		margin-left: 33%;
	}
	.r50{
		margin-left: 50%;
	}
	.r66{
		margin-left: 66%;
	}
	.r75{
		margin-left: 75%;
	}
	.role-item{
	    left: -100px;
	    margin-right: 0;
	    margin-bottom: 50px;
		width: 200px;
	}
	.role-description{
		position: absolute;
		top: 0;
		width: 445px;
		max-width: none;
		display: none;
	}
}
	
/* * * Desktop wide * * */
@media (min-width: 1200px) {
	.role-description{
		width: 550px;
	}
}